h1 New Resource
script(type="text/plain", id="header_tpl")
  li
    label
      |Header:
      input(type="text", name="XXmethodXX_header_name")
  li
    label
      |Value:
      input(type="text", name="XXmethodXX_header_value")

script(type="text/plain", id="response_tpl")
  #XXmethodXX
    h2 XXmethodXX
    ul
      li
        label
          |Status Code:
          input(type="text", name="XXmethodXX_code")
      li
        label
          |Body:
          textarea(nme="XXmethodXX_body")
      li
        a(onclick="javascript:addHeader('XXmethodXX');")
          |Add Header

form(name="resource", action='/resource', method="POST")
  #input
    ul
      li
        label
          |Path: 
          input(type="text", name="path")
      li
        label(for="description")
          |Description
          textarea(name="description")
  input(type="submit")
