h1 New Resource
script(type="text/plain", id="header_tpl")
  li
    label
      |Header:
      input(type="text", name="XXmethodXX_header_name")
  li
    label
      |Value:
      input(type="text", name="XXmethodXX_header_value")

script(type="text/plain", id="response_tpl")
  #XXmethodXX
    h2 XXmethodXX
    ul
      li
        label
          |Status Code:
          input(type="text", name="XXmethodXX_code")
      li
        label
          |Body:
          textarea(name="XXmethodXX_body")
      li
        a(onclick="javascript:addHeader('XXmethodXX');")
          |Add Header

form(name="resource", action='/resource', method="POST")
  #input
    ul
      li
        label
          |Path: 
          input(type="text", name="path")
      li
        label(for="description")
          |Description
          textarea(name="description")
      li
        #index
          a(onclick="javascript:addResponse('index');")
            |index
      li
        #get
          a(onclick="javascript:addResponse('get');")
            |get
      li
        #put
          a(onclick="javascript:addResponse('put');")
            |put
      li
        #post
          a(onclick="javascript:addResponse('post');")
            |post
      li
        #delete
          a(onclick="javascript:addResponse('delete');")
            |delete
  input(type="submit")
