h1 New Resource
script(type="text/plain", id="header_tpl")
  div(class="header")
    label Header:
    br
    input(type="text", name="XXmethodXX_header_name", class="text")
  div
    label Value:
    br
    input(type="text", name="XXmethodXX_header_value", class="text")

script(type="text/plain", id="response_tpl")
  #XXmethodXX
    fieldset
      legend XXmethodXX
      p
        label Status Code:
        br
        input(type="text", name="XXmethodXX_code", class="text")
      p
        label Body:
        br
        textarea(name="XXmethodXX_body", class="text body")
      p
        a(onclick="javascript:addHeader('XXmethodXX');")
          |Add Header

form(name="resource", action='/resource', method="POST")
  #input
    fieldset
      legend Create a new resource
      p
        label Path
        br
        input(type="text", name="path", class="title")
      p
        label(for="description") Description
        br
        textarea(name="description", class="text")
      p
        #index
          a(onclick="javascript:addResponse('index');")
            |index
      p
        #get
          a(onclick="javascript:addResponse('get');")
            |get
      p
        #put
          a(onclick="javascript:addResponse('put');")
            |put
      p
        #post
          a(onclick="javascript:addResponse('post');")
            |post
      p
        #delete
          a(onclick="javascript:addResponse('delete');")
            |delete
  input(type="submit")
